<a href="https://colab.research.google.com/github/akki0894/Advanced-Data-Analytics/blob/main/Detect_Disaster_Tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data & Description: https://www.kaggle.com/c/nlp-getting-started

In [14]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)
train_data = pd.read_csv('train.csv')
train_data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

   id  ... target
0  1   ...  1
1  4   ...  1
2  5   ...  1
3  6   ...  1
4  7   ...  1

[5 rows x 5 columns]

In [2]:
test_data = pd.read_csv('test.csv')
test_data.head()

   id  ...                                                                                              text
0  0   ...  Just happened a terrible car crash
1  2   ...  Heard about #earthquake is different cities, stay safe everyone.
2  3   ...  there is a forest fire at spot pond, geese are fleeing across the street, I cannot save them all
3  9   ...  Apocalypse lighting. #Spokane #wildfires
4  11  ...  Typhoon Soudelor kills 28 in China and Taiwan

[5 rows x 4 columns]

In [3]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission.head()

   id  target
0  0   0
1  2   0
2  3   0
3  9   0
4  11  0

In [4]:
train_data = train_data.drop(['keyword', 'location', 'id'], axis=1)
train_data.head()

                                                                                                                                    text  target
0  Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all                                                                  1
1  Forest fire near La Ronge Sask. Canada                                                                                                 1
2  All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected  1
3  13,000 people receive #wildfires evacuation orders in California                                                                       1
4  Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school                                                1

# Data Cleaning

In [5]:
import re
def  clean_text(df, text_field):
    df[text_field] = df[text_field].str.lower()
    df[text_field] = df[text_field].apply(lambda elem: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", elem))  
    return df
data_clean = clean_text(train_data, "text")
data_clean.head()

                                                                                                                                 text  target
0  our deeds are the reason of this earthquake may allah forgive us all                                                                1
1  forest fire near la ronge sask canada                                                                                               1
2  all residents asked to shelter in place are being notified by officers no other evacuation or shelter in place orders are expected  1
3  13000 people receive wildfires evacuation orders in california                                                                      1
4  just got sent this photo from ruby alaska as smoke from wildfires pours into a school                                               1

# Removing StopWords

In [6]:
import nltk.corpus
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [7]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
data_clean['text'] = data_clean['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
data_clean.head()

                                                                                       text  target
0  deeds reason earthquake may allah forgive us                                              1
1  forest fire near la ronge sask canada                                                     1
2  residents asked shelter place notified officers evacuation shelter place orders expected  1
3  13000 people receive wildfires evacuation orders california                               1
4  got sent photo ruby alaska smoke wildfires pours school                                   1

# Data Pre-Processing and fitting it into SGD

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_clean['text'],data_clean['target'],random_state = 0)
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import SGDClassifier
pipeline_sgd = Pipeline([
    ('vect', CountVectorizer()),
    ('tfidf',  TfidfTransformer()),
    ('nb', SGDClassifier()),
])
model = pipeline_sgd.fit(X_train, y_train)

In [9]:
from sklearn.metrics import classification_report
y_predict = model.predict(X_test)
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.80      0.85      0.83      1107
           1       0.78      0.71      0.74       797

    accuracy                           0.79      1904
   macro avg       0.79      0.78      0.79      1904
weighted avg       0.79      0.79      0.79      1904

In [10]:
submission_test_clean = test_data.copy()
submission_test_clean = clean_text(submission_test_clean, "text")
submission_test_clean['text'] = submission_test_clean['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
submission_test_clean = submission_test_clean['text']
submission_test_clean.head()

0    happened terrible car crash
1    heard earthquake different cities stay safe everyone
2    forest fire spot pond geese fleeing across street cannot save
3    apocalypse lighting spokane wildfires
4    typhoon soudelor kills 28 china taiwan
Name: text, dtype: object

In [11]:
submission_test_pred = model.predict(submission_test_clean)

In [12]:
id_col = test_data['id']
submission_df_1 = pd.DataFrame({
                  "id": id_col, 
                  "target": submission_test_pred})
submission_df_1.head()

   id  target
0  0   1
1  2   0
2  3   1
3  9   1
4  11  1